*{
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* NAVBAR */
header{
  border-bottom: 1px solid rgba(42,42,42,0.2);
}

nav.navbar-dark{
  display: flex;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 8px;
  padding-bottom: 8px;
  align-items: center;
  z-index: 10;
  transition: 0.6s;
  height: 90px;
  align-items: center;
}

nav.navbar-dark .logo img{
  width: 150px;
}

nav .nav-itens{
  list-style: none;
  display: flex;
  margin-top: 25px;
}

.nav-itens li img.avatar{
  object-fit: cover;
  width: 35px;
  height: 35px;
  margin-left: 8px;
}

nav .nav-itens > li > a, nav .nav-itens > li > p{
  padding: 0 18px;
  font-size: 17px;
  color: #4d4d4d;
  text-decoration: none;
  
  margin-bottom: 0;
  cursor: pointer;
}

.nav-itens > li > p.nameUser{
  padding-left: 5px;
}

nav .nav-itens > li > p .fa-angle-down{
  margin-left: 3px;
}

nav .nav-itens > li > a:hover, nav .nav-itens > li > p:hover{
  color: rgb(91,104,235);
}

.nav-itens{
  position: relative;
}

.nav-itens .notification-div {
  background-color: rgb(240, 240, 240);
  width: 240px;
  border: 1px solid #ddd;
  padding-top: 5px;
  right: 32px;
  border-radius: 5px;
  top: 42px;
  position: absolute;
  z-index: 20;
  display: none;
}

.nav-itens-other .notification-div {
  right: -4px;
}

.nav-itens .notification-div.show{
  display: block;
}

.notification-div:after {
  content: '';
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: rgb(240, 240, 240);
  top: -6px;
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  transform: rotate(45deg);
  right: 10%;
}

.notification-div a, .notification-div p {
  display: block;
  margin: 0px;
  padding: 15px 20px;
  color: #6c7293;
  text-decoration: none;
}

.notification-div a:not(:first-child):hover {
  cursor: pointer;
  background: #1d3fff21;
}

.notification-div a:not(:last-child) {
  border-bottom: 1px solid #dadada;
}

.notification-div .themes{
  border-bottom: 1px solid #dadada;
}

.notification-div hr {
  margin: 0px;
  border: none;
  background-color: #b6b6b6;
  height: 2px;
}

.notification-div a i{
  margin-right: 8px;
}

.notification-div .themes .line{
  border-left: 1px solid #dadada;
  height: 50px;
}

.notification-div .themes .theme:hover{
cursor: pointer;
background: #1d3fff21;
}

.themes .theme .fa-sun-o{
color: rgb(255, 208, 0);
}

.themes .theme .fa-moon{
color: rgb(70, 70, 70);
}

.notifications{
  padding-left: 20px;
  position: relative;
  cursor: pointer;
}

.notifications .ball{
  position: absolute;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background-color: #3498db;
  left: 13px;
  bottom: -1px;
}

/* sidebar notification */
.sidebar {
  box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
  background-color: rgb(240, 240, 240);
  width: 350px;
  border: 1px solid #ddd;
  padding-top: 5px;
  right: -9.4%;
  border-radius: 5px;
  top: 42px;
  position: absolute;
  z-index: 20;
  display: none;
}

ul.viewer .sidebar{
  right: -6.5%;
}


.sidebar:after {
  content: '';
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: rgb(240, 240, 240);
  top: -6px;
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  transform: rotate(45deg);
  right: 11.5%;
}

.sidebar.open {
  display: block;
}

.sidebar div .fa-xmark{
  padding-top: 12px;
  padding-right: 18px;
  cursor: pointer;
}

.title-notifications{
  padding-top: 8px;
  border-bottom: 1px solid #a7a7a7;
  padding-bottom: 12px;
}

.title-notifications .title-h{
  margin-left: 15px;
  margin-bottom: 0;
  font-size: 1.2rem;
}

.sidebar .notification:not(:last-of-type){
  border-bottom: 2px solid #f1f1f1;
}

.sidebar .notification p{
  margin: 0;
}

.sidebar .notification{
  padding: 18px 5px;
}

.sidebar .aceita{
  background-color: rgba(0, 128, 0, 0.253);
}

.sidebar .recusada{
  background-color: rgba(128, 0, 0, 0.253);
}
.sidebar .p-no-notiticatiosn{
  padding-top: 14px;
  padding-bottom: 16px;
  margin-bottom: 0;
}

/* responsive menu */
.toggle_btn{
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.toggle_btn .fa-bars {
  color: #000;;
}

.toggle_btn .fa-times{
  color: #000;
}

.dropdown_menu{
  display: none;
  position: absolute;
  right: 2rem;
  top: 85px;
  height: 0;
  width: 300px;
  background: rgba(0, 0, 0, 0.753);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 1000;
}

.dropdown_menu.open{
  height: auto;
}

.dropdown_menu li{
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.dropdown_menu li a{
    text-decoration: none;
}

/* RESPONSIVE DESIGN - responsive menu */
@media (max-width: 992px){  
  .gradient-button, .nav-itens li a{
    display: none;
  }

  .toggle_btn{
    display: block;
  }

  .dropdown_menu{
    display: block;
  }

  .dropdown_menu li:hover:not(:last-child){
    background: rgba(169, 171, 172, 0.603);
  }

  .dropdown_menu li:hover:last-child{
    transform: scale(1.1);
  }

  .dropdown_menu li:not(:last-child) a {
    color: white;
  }

  .dropdown_menu li:last-child{
    padding: 0.3rem;
  }
}

@media (max-width: 576px){
  .dropdown_menu{
    left: 2rem;
    width: unset;
  }
}


/* Main */
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 8px;
}
  
.search-bar {
  display: flex;
  align-items: center;
  width: 90%;
  background-color: white;
  border-radius: 20px;
  border: 1px solid #ccc;
}

.search-link-page{
  margin-bottom: 18px;
}
  
#search-input {
  flex-grow: 1;
  padding: 10px;
  border: none;
  border-radius: 20px;
  outline: none;
}
  
#search-button {
  background-color: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
  outline: none;
}
  
#search-button i {
  color: #555;
  font-size: 18px;
}
  
#search-button:active {
  transform: scale(0.95);
}

/* Card */
.group-cards{
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
}

.card {
  width: 22.8%;
  border-radius: 30px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1), 0px 6px 6px rgba(0, 0, 0, 0.1);
  transition: 0.2s ease-in-out;
  overflow: hidden;
  padding: 0;
}

@media (min-width: 1400px){
  .card {
    width: 18%;
    border-radius: 30px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1), 0px 6px 6px rgba(0, 0, 0, 0.1);
    transition: 0.2s ease-in-out;
    overflow: hidden;
    padding: 0;
  }
}

.card:hover {
  cursor: pointer;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.25);
}

.card-link {
  text-decoration: none;
}

.card-link:hover {
  text-decoration: none;
}

.card-link:focus,
.card-link:active {
  outline: none;
}

.card img.img-card {
  object-fit: cover;
  width: 100%;
  height: 175px;
}

.card .card-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  opacity: 0;
  padding: 2px;
  transition: opacity 0.3s;
  z-index: 10;
}

.card-overlay img.coracao{
  height: 28px;
  width: 32px;
  filter: grayscale(100%);
}

.coracaoPreenchido{
  filter: grayscale(0%) !important;
}

.card-overlay:hover img.coracao{
  filter: grayscale(0%);
}

.card:hover .card-overlay {
  opacity: 1;
}

.edit-icon,
.delete-icon {
  color: #333; 
  font-size: 20px;
  padding: 8px;
  cursor: pointer;
  transition: all 0.2s; 
  margin: 5px; 
  background-color: #fff; 
  border-radius: 50%; 
}

.edit-icon:hover,
.delete-icon:hover {
  transform: scale(1.2) rotate(-5deg); 
}

.edit-icon:hover {
  color: #3498db; 
}

.delete-icon:hover {
  color: #e74c3c;
}

/* tirando formatoções do button que envolve o icone de excluir */
.delete-form .delete-icon-btn {
  background: transparent;
  border: none;
}

.card-content{
  padding-bottom: 6px;
  height: 100%;
}

.card-content p{
  margin: 0;
  margin-left: 1em;
  color: #5a5a5a;
}

.card-content > p.title {
  text-align: center; 
  margin: 0;
  font-size: 22px; 
  color: #000;
  margin-top: 5px;
}

.star{
  width: 22px;
  padding-left: 3px;
  padding-bottom: 3px;
}


/*Btn flutuante*/
.img-add{
  margin-top: -7px;
  width: 30px; 
}

.floating-container {
  position: fixed;
  width: 100px;
  height: 100px;
  bottom: 0;
  right: 0;
  margin: 35px 25px;
}

.floating-container:hover .floating-button {
  box-shadow: 6px 10px 20px rgba(44, 179, 240, 0.6);
}

.floating-container .floating-button {
  position: absolute;
  width: 65px;
  height: 65px;
  background: #2cb3f0;
  bottom: 0;
  border-radius: 50%;
  left: 0;
  right: 0;
  margin: auto;
  color: white;
  line-height: 65px;
  text-align: center;
  font-size: 23px;
  z-index: 100;
  box-shadow: 0 10px 25px -5px rgba(44, 179, 240, 0.6);
  cursor: pointer;
}

/* Modal erro */
#ModalCreatorErro{
  z-index: 10000;
  margin-top: 80px;
}
#ModalCreatorErro .close{
  position: absolute;
  right: 18px;
  top: 18px;
}

.btn-close{
  --bs-btn-close-focus-shadow: none;
}

#ModalCreatorErro .modal-dialog {
  width: 480px;
}

#ModalCreatorErro .image {
  margin-left: auto;
  margin-right: auto;
}
  
#ModalCreatorErro .content {
    margin-top: 0.95rem;
    text-align: center;
}

#ModalCreatorErro .title {
    color: #111827;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.5rem;
}

#ModalCreatorErro .message {
    margin-top: 0.3rem;
    color: #6B7280;
    font-size: 0.9rem;
    line-height: 1.25rem;
    margin-left: 16px;
    margin-right: 16px;
}

#ModalCreatorErro .actions {
    margin: 1.1rem 1rem 0.3rem 1rem;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#ModalCreatorErro .actions button, #ModalCreatorErro .actions a{
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    width: 80%;
    border-radius: 0.375rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

#ModalCreatorErro .actions a{
  text-decoration: none;
}

#ModalCreatorErro .desactivate {
    border-width: 1px;
    border-color: transparent;
    background-color: #DC2626;
    color: #ffffff;
}

#ModalCreatorErro .cancel {
    border: 1px solid #D1D5DB;
    background-color: #ffffff;
    color: #374151;
}

/* Modal confirmação exclusão */
#ModalConfirmacaoExclusao{
  z-index: 10000;
  margin-top: 80px;
}
#ModalConfirmacaoExclusao .close{
  position: absolute;
  right: 18px;
  top: 18px;
}

#ModalConfirmacaoExclusao .modal-dialog {
  width: 480px;
}

#ModalConfirmacaoExclusao .image {
  margin-left: auto;
  margin-right: auto;
}
  
#ModalConfirmacaoExclusao .content {
    margin-top: 0.95rem;
    text-align: center;
}

#ModalConfirmacaoExclusao .title {
    color: #111827;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.5rem;
}

#ModalConfirmacaoExclusao .message {
    margin-top: 0.3rem;
    color: #6B7280;
    font-size: 0.9rem;
    line-height: 1.25rem;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 4px;
}

#ModalConfirmacaoExclusao .input-password{
  width: 86%;
  border: none;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 17px;
  padding: 7px 0 4px 0;
  border-image: linear-gradient(to right, rgba(192, 0, 0, 0.747),rgba(221, 189, 5, 0.747));
  border-image-slice: 1;
  margin-bottom: 4px;
}

#ModalConfirmacaoExclusao .input-password:focus {
padding-bottom: 5px;
}

#ModalConfirmacaoExclusao .actions {
  margin: 1.1rem 1rem 0.2rem 1rem;
  display: flex;
  gap: 20px;
}

#ModalConfirmacaoExclusao .actions form {
  flex-grow: 1;
  display: flex;
}

#ModalConfirmacaoExclusao .actions form button {
  flex-grow: 0;
  width: 100%;
}

#ModalConfirmacaoExclusao .actions button{
  flex-grow: 1;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

#ModalConfirmacaoExclusao .desactivate, #ModalError .desactivate {
    border-width: 1px;
    border-color: transparent;
    background-color: #DC2626;
    color: #ffffff;
}

#ModalConfirmacaoExclusao .cancel {
    border: 1px solid #D1D5DB;
    background-color: #ffffff;
    color: #374151;
}

/* modal sucesso */

#ModalSucess, #ModalError{
  margin-top: 60px;
}

#ModalSucess .modal-dialog, #ModalError .modal-dialog{
  width: 550px !important;
  max-width: 800px;
}

#ModalSucess .close, #ModalError .close{
  position: absolute;
  right: 18px;
  top: 18px;
}

#ModalSucess .image, #ModalError .image{
  margin-left: auto;
  margin-right: auto;
}

#ModalSucess .content, #ModalError .content{
  margin-top: 0.95rem;
  text-align: center;
}

#ModalSucess .title, #ModalError .title{
  color: #111827;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5rem;
}

#ModalSucess .message, #ModalError .message{
  margin-top: 0.3rem;
  color: #6B7280;
  font-size: 0.96rem;
  line-height: 1.25rem;
  margin-left: 16px;
  margin-right: 16px;
}

#ModalSucess .message + p, #ModalError .message + p{
  text-align: start;
  margin-left: 40px;
  margin-bottom: 7px;
}

#ModalSucess .actions, #ModalError .actions{
  margin: 1.3rem 1.5rem 0.75rem 1.8rem;
  display: flex;
  justify-content: center;
  gap: 20px;
}

#ModalSucess .actions button, #ModalError .actions button{
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  width: 80%;
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

#ModalSucess .success, #ModalError .success{
  border-width: 1px;
  border-color: transparent;
  color: #ffffff;
  background-color: #198754;
}

#ModalSucess .cancel, #ModalError .cancel{
  border: 1px solid #D1D5DB;
  background-color: #ffffff;
  color: #374151;
}

.subs{
  margin-top: 2rem;
}

.favs, .discover{
  margin-top: 3rem;
}

/* slider infinito */
.wrapper {
  width: 1140px;
  padding: 0;
  position: relative;
}

.wrapper i {
  top: 40%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
  z-index: 10;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child{
  left: -22px;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 4) - 23px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 30px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  padding: 0;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel .card {
  scroll-snap-align: start;
  cursor: pointer;
  width: auto;
  margin: 0;
  box-shadow: none;
}

@media (min-width: 1550px){
  .wrapper {
    width: 1320px;
  }
  .wrapper .carousel{
    grid-auto-columns: calc((100% / 5) - 25px);
  }
}

.ball-li{
  position: relative;
}

.ball-li .ball{
  position: absolute;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #3498db;
  top: -5px;
  right: 10px;

  font-size: 9px;
  color: white;
  text-align: center;
}


/* tema escuro */
body.dark{
  background: #111827;
}

body.dark header{
  border-bottom: 1px solid rgba(160, 160, 160, 0.267);
}

body.dark #search-input{
  background: #111827;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

body.dark #search-input::placeholder{
  color: #cecece;
}

body.dark #search-button{
  background: #111827;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

body.dark #search-button i{
  color: #cecece;
}

body.dark nav .nav-itens > li > a, body.dark nav .nav-itens > li > p{
  color: #cecece;
}

body.dark h2{
  color: #cecece;
}

body.dark .card{
  background: #111827;
  border-color: #5f7191;
}

body.dark .card-content p.title{
  color: #cecece;
}

body.dark .card-content p{
  color: #aaaaaa;
}

body.dark .notifications{
  color: #cecece;
}